In [103]:
import pandas as pd
from pathlib import Path

Pulling data for cost of maintaning roads under Road maintenance, operation and renewals from https://www.nzta.govt.nz/planning-and-investment/learning-and-resources/transport-data/funding-and-transport-dashboard-and-open-data

In [104]:
df = pd.read_csv('FundRoadMOR.csv')

In [105]:
df.head()

,Authority Type,Region,Expenditure Type,Work Category,Funding Authority,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,2020/21,2021/22
0,National,New Zealand,Road Maintenance,Corridor,Expenditure - Local,"$67,897,140","$65,216,099","$65,088,815","$68,118,670","$68,113,122","$66,587,799","$69,835,639","$69,008,603","$69,412,187","$74,629,658","$79,222,855"
1,National,New Zealand,Road Maintenance,Corridor,Expenditure - NZTA,"$132,306,527","$136,972,281","$157,810,277","$151,441,895","$155,943,617","$170,518,062","$188,552,033","$190,207,972","$197,522,161","$206,838,302","$215,086,673"
2,National,New Zealand,Road Maintenance,Cycling Facilities,Expenditure - Local,"$484,812","$594,185","$773,184","$702,357","$725,885","$725,152","$864,706","$1,112,034","$912,590","$1,082,720","$1,459,358"
3,National,New Zealand,Road Maintenance,Cycling Facilities,Expenditure - NZTA,"$932,044","$783,927","$879,513","$1,075,265","$1,065,281","$1,174,262","$1,309,749","$1,608,040","$1,619,960","$1,770,782","$2,222,979"
4,National,New Zealand,Road Maintenance,Emergency Reinstatement,Expenditure - Local,"$35,921,498","$35,824,463","$37,425,700","$29,979,800","$32,337,090","$34,681,457","$44,416,118","$33,593,216","$16,147,293","$19,048,408","$32,367,015"

In [106]:
#removed features not based on roads
df1 = df[(df['Work Category'] != 'Cycling Facilities') & (df['Work Category'] != 'Footpath') & (df['Work Category'] != 'Financial grants & stimulus')]

In [107]:
df1.columns

Index(['Authority Type', 'Region', 'Expenditure Type', 'Work Category',
       'Funding Authority', ' 2011/12 ', ' 2012/13 ', ' 2013/14 ', ' 2014/15 ',
       ' 2015/16 ', ' 2016/17 ', ' 2017/18 ', ' 2018/19 ', ' 2019/20 ',
       ' 2020/21 ', '2021/22'],
      dtype='object')

In [108]:
#Drop unneeded collums
df2 = df1.drop(columns=[' 2011/12 ', ' 2012/13 ', ' 2013/14 ', ' 2014/15 ', ' 2015/16 ', ' 2016/17 '])
df2.head()

,Authority Type,Region,Expenditure Type,Work Category,Funding Authority,2017/18,2018/19,2019/20,2020/21,2021/22
0,National,New Zealand,Road Maintenance,Corridor,Expenditure - Local,"$69,835,639","$69,008,603","$69,412,187","$74,629,658","$79,222,855"
1,National,New Zealand,Road Maintenance,Corridor,Expenditure - NZTA,"$188,552,033","$190,207,972","$197,522,161","$206,838,302","$215,086,673"
4,National,New Zealand,Road Maintenance,Emergency Reinstatement,Expenditure - Local,"$44,416,118","$33,593,216","$16,147,293","$19,048,408","$32,367,015"
5,National,New Zealand,Road Maintenance,Emergency Reinstatement,Expenditure - NZTA,"$647,217,091","$302,849,600","$176,459,934","$173,747,175","$172,903,958"
6,National,New Zealand,Road Maintenance,Environment & Drainage,Expenditure - Local,"$63,234,168","$68,758,236","$67,995,215","$74,951,406","$78,162,102"

In [109]:
df2.dtypes

Authority Type       object
Region               object
Expenditure Type     object
Work Category        object
Funding Authority    object
 2017/18             object
 2018/19             object
 2019/20             object
 2020/21             object
2021/22              object
dtype: object

In [110]:
#clean expense data and change to float
dates = [' 2017/18 ', ' 2018/19 ', ' 2019/20 ',
       ' 2020/21 ', '2021/22']
for x in dates:
    df2[x] = df2[x].replace("[$,]", "", regex=True).replace("[-$]", "0", regex=True).astype(float)

ValueError: cannot convert float NaN to integer

In [ ]:
df2

In [ ]:
#removing Teritorial Authority  rows
df3 = df2[df2['Authority Type'] != 'Teritorial Authority']
df3['Authority Type'].value_counts()

In [ ]:
df3

In [ ]:
#Grouping by total region expenditure
total = df3.groupby('Region').sum()
total

In [ ]:
total.rename(columns={" 2017/18 ": "2017/18 expense", " 2018/19 ": "2018/19 expense", " 2019/20 ": "2019/20 expense", " 2020/21 ": "2020/21 expense", '2021/22':'2021/22 expense'})

In [ ]:
#Converted total yearly road maintnense expense to csv
filepath = Path('Road_maintenance.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
total.to_csv(filepath)

In [ ]:
#finding yearly cost of public transport
pt = pd.read_csv('FundPT.csv')

In [ ]:
pt

In [ ]:
#Drop unneeded collums
pt1 = pt.drop(columns=[' 2011/12 ', ' 2012/13 ', ' 2013/14 ', ' 2014/15 ', ' 2015/16 ', ' 2016/17 '])
pt1.head()

In [ ]:
#clean cash value columns and change to float
dates = [' 2017/18 ', ' 2018/19 ', ' 2019/20 ',
       ' 2020/21 ', '2021/22']
for x in dates:
    pt1[x] = pt1[x].replace("[$,]", "", regex=True).replace("[-$]", "0", regex=True).astype(float)

In [ ]:
#remove Teritorial Authority rows
pt2 = pt1[pt1['Authority Type'] != 'Teritorial Authority']
pt2['Authority Type'].value_counts()

In [ ]:
#group by region to find total expense 
pt_total = pt2.groupby('Region').sum()
pt_total

In [ ]:
#clear up column names 
pt_total.rename(columns={" 2017/18 ": "2017/18 expense", " 2018/19 ": "2018/19 expense", " 2019/20 ": "2019/20 expense", " 2020/21 ": "2020/21 expense", '2021/22':'2021/22 expense'})

In [ ]:
filepath = Path('Public_transport.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
pt_total.to_csv(filepath)